*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    background-color: #FFF8F3;
    background: url('../images/developer.png') left no-repeat,
    url('../images/header_bg.png') right bottom no-repeat;
    /* height: 500px; */
}