/* Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.hide {
    display: none !important;
}

.btn-primary {
    text-transform: capitalize;
    font-size: 16px;
    padding: 12px 25px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    color: #FD6E0A;
    background-color: #fff;
    border: 1px solid #FD6E0A;
}

.color-primary {
    color: #FD6E0A;
}

.section-heading {
    max-width: 827px;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

/* main style */
header {
    background: url('../images/developer.png') 23px 20px no-repeat,
        url('../images/header_bg.png') right bottom no-repeat, #FFF8F3;
}

/* navbar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 51px;
}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #474747;
    font-size: 20px;
}

nav ul li a:hover {
    color: #FD6E0A;
}

nav button:hover {
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}

/* banner section style */
#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 585px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn-groups {
    display: flex;
    gap: 20px;
}

.banner-img img {
    width: 584px;
    vertical-align: middle;
}

/* about section start */
#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {
    background-color: #FFF8F3;
    padding: 131px 156px;
    border-radius: 8px;
}

.about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

.about-info h4 {
    font-size: 20px;
}

/* Skill section start */
.skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    max-width: 267px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000028;
    border-radius: 5px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #181818;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume section start */
#resume .resume-container {
    display: flex;
    gap: 24px;
}

.resume-container .section-title {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 517px;
    margin-right: 47px;
}

.resume-card .card-title {
    columns: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-card .card-info {
    columns: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-card .card-text {
    color: #757575;
    line-height: 28px;
}

.resume-container hr {
    margin: 30px 0;
}

#resume button {
    margin-top: 47px;
}

/* footer section */
footer {
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}

.footer-container {
    display: flex;
    gap: 116px;
}

.footer-container h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.social p {
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.icons a {
    margin-right: 25px;
}

.form input[type="text"],
.form input[type="email"],
textarea {
    width: 461px;
    color: #757575;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: none;
}

input[type="submit"]:hover {
    background-color: #FD6E0A;
    color: #fff;
    cursor: auto;
}

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
    }

    #about,
    #skills,
    #resume {
        padding-top: 40px;
    }

    #banner,
    nav,
    .skill-box,
    .about-container .about-info,
    #resume .resume-container {
        flex-direction: column;
    }

    .section-heading h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    /* header section */
    header {
        background: url(../images/header_bg.png) center bottom no-repeat, #FFF8F3;
    }

    nav {
        gap: 20px;
    }

    #banner {
        margin: 20px;
        gap: 20px;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .banner-content h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .banner-content h1 {
        font-size: 49px;
    }

    .btn-groups {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-img img {
        width: 100%;
    }

    /* about section */
    #about .about-container {
        padding: 20px;
    }

    .about-container .about-info {
        gap: 40px;
    }

    /* skills section */
    .skill-box .skill-card {
        max-width: 100%;
        padding: 20px;
    }

    /* resume section */
    .resume-container .section-title {
        margin-bottom: 20px;
    }

    .resume-card {
        margin-right: 0;
    }

    /* footer section */
    footer {
        margin-top: 50px;
        padding: 50px 0;
    }

    .footer-container {
        flex-direction: column;
        gap: 50px;
    }

    .form input[type="text"],
    .form input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }
}